<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="">

		<title> Top reddit posts </title>
	</head>

	<body>
		<center>
			<h2> Top reddit posts </h2> 

		<% for(var i=0; i<results.length; i++) {%>
		   <h2><%= results[i] %></h2>
		<% } %>

		</center>
	</body>

</html>
