<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="">

		<title> Top reddit posts </title>
	</head>

	<body>
		<center>
			<h2> Top reddit posts </h2> 
			<h1> <%= results  %> </h1>
		</center>
	</body>

</html>
